/* Particles.js container */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary);
    z-index: var(--z-negative);
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
}
